*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
}
.container .btn button{
    width: 80px;
    height: 21px;
    
}